* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  width: 100vw;
  height: 100vh;
  font-size: 1.6rem;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  background-image: url(/style/img/car-3075497_1280\ 1.jpg);
  background-size: cover;
  background-position: center center;
}
.body-bg {
  display: flex;
  background-color: #050729be;
  height: 100%;
}
.main-header {
  background-color: #0b0b0d7c;
  display: inline-flex;
  padding-left: 93px;
  padding-right: 154px;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 16%;
}
.logo {
  margin: 80px 0 0 0;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'Oswald';
  font-weight: 700;
}
.logo__text {
  color: #a276ff;
}
.block-nav {
  margin-top: 47px;
  display: flex;
}
.nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.nav-item {
  font-family: 'Oswald';
}
.nav-item__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 47px;
  color: #fff;
  transition: all 0.3s easy-in-out;
}
.nav-item__link:hover {
  color: #a276ff;
}
.block-support {
  height: 50%;
  display: flex;
  flex-direction: column;
  font-family: 'Oswald';
  justify-content: end;
  margin-block-end: 100px;
  align-items: center;
  text-transform: uppercase;
  font-size: 17 px;
  flex-grow: 1;
}
.support {
  margin-bottom: 47px;
}
.block-support__link {
  text-decoration: none;
  color: #fff;
}
.block-contact__link {
  text-decoration: none;
  color: #fff;
}
.sabyr-main {
  height: 100%;
  overflow: hidden;
}
.social {
  margin-left: 1200px;
  background-color: #a276ff;
  border-radius: 11px;
  padding: 20px 60px;
  width: 15%;
}
.social__btn {
  justify-content: space-around;
  display: flex;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
  background: transparent no-repeat center center;
}
.social__twitter {
  list-style-image: url(/style/img/twitter.svg);
}
.social__facebooki {
  list-style-image: url(/style/img/facebook.svg);
}
.main-blok {
  display: flex;
  width: 60%;
  height: 40%;
  flex-direction: column;
  justify-content: left;
  margin-top: 80px;
  margin-left: 300px;
}
.main-title {
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 49px;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  width: 50%;
  letter-spacing: -2px;
}
.main-title span {
  font-size: 85px;
  color: #a276ff;
  letter-spacing: 5px;
}
.main-description {
  margin-top: 20px;
  font-family: 'Roboto';
  width: 70%;
  line-height: 4rem;
  font-size: 18px;
  margin-bottom: 30px;
  word-wrap: break-word;
  line-height: 0,8;
}
.btn {
  background-color: transperent;
  border-radius: 17px;
  border: 2px solid #fff;
  padding: 20px 60px;
}
.main-btn {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  width: 30%;
  text-align: center;
}
.block-img {
  width: 70%;
  margin-top: 70px;
  margin-left: 300px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  justify-content: space-between;
}
.block-img img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 216px;
  height: 130px;
  flex-shrink: 0;
  border-radius: 11px;
  border: 2px solid #fff;
  /* Рамка вокруг фотографии */
}
.sabyr-footer {
  width: 80%;
  margin-top: 35px;
  margin-left: 300px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.news {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.triangle {
  margin-left: 20px;
}
.footer-title {
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 42px;
  text-transform: uppercase;
  color: #fff;
}
.footer-description {
  font-family: 'Roboto';
  font-size: 14px;
}
.main-blok_dt {
  display: flex;
  width: 90%;
  height: 100%;
  background: #ffffffc5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  box-sizing: border-box;
  color: #111;
  backdrop-filter: blur(30px);
  flex-direction: row;
  justify-content: left;
  margin-top: 60px;
  margin-left: 100px;
  overflow: hidden;
}
.main-text_dt {
  margin-top: 50px;
  margin-left: 90px;
  margin-right: 90px;
  width: 50%;
  height: 100%;
  flex-direction: column;
}
.main-title_dt {
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 46px;
  text-transform: uppercase;
  letter-spacing: -2px;
  word-wrap: break-word;
}
.main-description_dt {
  margin-top: 30px;
  font-family: 'Roboto';
  display: inline-block;
  line-height: 33px;
  font-size: 22px;
  font-weight: 400;
  word-wrap: break-word;
  /*span1{font-size: 85px;
        color: @colorText;
        letter-spacing: 5px;
    }*/
}
.anounce {
  font-weight: 700;
  word-wrap: break-word;
}
.regular {
  font-weight: 400;
  word-wrap: break-word;
}
.free {
  font-family: 'Oswald';
  font-weight: 700;
  letter-spacing: -2px;
  word-wrap: break-word;
}
.btn_dt {
  background-color: #a276ff;
  border-radius: 12px;
  width: 8%;
  height: 1%;
}
.block-img_dt {
  width: 50%;
  margin-top: 60px;
  margin-left: 100px;
  padding: 0;
}
.block-img_dt img {
  width: 75%;
  height: 75%;
  align-items: start;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 11px;
}
.sign {
  font-family: 'Montserrat';
  font-size: 11px;
  font-weight: 400;
  margin: 0 0 0 120px;
  color: #111;
  color: color-contrast;
}
/* @media
  .main-header{
    padding-left: 60px
    padding-righ: 120px;
  }
  .main-block{
    margin-top: 100px;
    margin-right: 100px;
  }
  .main-title{
    font-size: 3.3rem sans-serif;
  }*/
